
<% include ./partials/header  {header: header, pageData: req.pageData, siteData: req.siteData, nav: nav, enroll: enroll} %>
<div class="container-full home-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-9" style="z-index: 1;">
          <div class="home-logos">
            <img src="/images/logo_UWMedicine_white.svg" alt="UW Medicine">
            <img src="/images/logo_FredHutch_white.svg" alt="Fred Hutch">
            <img src="/images/logo_SeattleChildrens_white.svg" alt="Seattle Childrens">
            <img src="/images/logo_BrotmanBatyInstitute_white.svg" alt="Brotman Baty Institute">
          </div>
          <h1><%= homeData[0].fields.headline %></h1>
          <p><%= homeData[0].fields.featuredCopy %></p>
          <a href="<%= homeData[0].fields.heroButtonLink %>"><button class="green"><%= homeData[0].fields.heroButtonCta %></button></a>
        </div>
        <div id="homeSVG">
          <svg viewBox="0 0 1440 200" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Curve_Divider_White" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <path d="M1080,157.502628 C1260,157.502628 1380,105.001752 1440,0 L1439.6621,200 L0,200 L0,157.500128 L1080,157.502628 Z" id="Rectangle" fill="#FFFFFF"></path>
            </g>
          </svg>
          <!--<svg viewBox="0 0 1440 166" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Curve_Divider_Reverse_Blue" stroke="none" stroke-width="1" fill="white" fill-rule="evenodd">
                <path d="M1080,157.502628 C1260,157.502628 1380,105.001752 1440,0 L1440,166 L0,166 L0,157.500128 L1080,157.502628 Z" id="Rectangle" fill="white" transform="translate(720.000000, 83.000000) scale(1, -1) translate(-720.000000, -83.000000) "></path>
            </g>
          </svg>
          -->
        </div>
      </div>
    </div>
    <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon fill="white" points="0,100 0,0 104,100"/>
    </svg> -->
</div>
<div class="container home-content">
  <div class="row">
    <div class="col-lg-8 col-md-6" id="help-right">
      <h2>Here's how it works:</h2>
      <div class="step clearfix">
        <h1 class="number float-left">1</h1>
        <div>
            <%- md.render(homeData[0].fields.section11) %>
        </div>
      </div>

      <div class="step clearfix">
          <h1 class="number float-left">2</h1>
          <div>
              <%- md.render(homeData[0].fields.section12) %>
          </div>
      </div>

      <div class="step clearfix">
          <h1 class="number float-left">3</h1>
          <div>
            <%- md.render(homeData[0].fields.section13) %>
          </div>
      </div>

      <div class="step clearfix">
          <h1 class="number float-left">4</h1>
          <div>
            <%- md.render(homeData[0].fields.section14) %>
          </div>
      </div>
      <h4><a href="<%= homeData[0].fields.section1Link %>" class="cta"><%= homeData[0].fields.section1Cta %></a></h4>
    </div>
    <div class="col-lg-4 col-md-6" id="help-left">
      <img src="/images/people.svg">
      <div class="help-bg" style="background-image: url(/images/curve.svg">
        <%- md.render(homeData[0].fields.section1Main) %>
      </div>
    </div>
  </div>
</div>
<div class="container-full" id="home-map">
  <div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-6 large" id="map-left">
      <%- md.render(homeData[0].fields.section2Main) %>
      <% if(homeData[0].fields.section2Url){ %>
      <h4><a href="<%= homeData[0].fields.section2Url %>" class="cta"><%= homeData[0].fields.section2Cta %></a></h4>
      <%} else {%>
      <h4>Coming Soon! Help us track the flu.</h4>
      <%}%>
    </div>
    <div class="col-md-12 col-lg-6" id="map-right">
      <img src="<%- homeData[0].fields.section2Image.fields.file.url %>">
    </div>
  </div>
</div>
</div>
<div class="container home-content-2">
  <div class="row flu-101">
    <div class="col-lg-5 offset-lg-1" id="flu101-left">
      <img src="<%- homeData[0].fields.section3Image.fields.file.url %>">
    </div>
    <div class="col-lg-6 large" id="flu101-right">
      <%- md.render(homeData[0].fields.section3Main) %>
      <h4><a href="<%= homeData[0].fields.section3Url %>" class="cta"><%= homeData[0].fields.section3Cta %></a></h4>
    </div>
  </div>


  <div class="row">
    <div class="col-lg-12">
      <div class="home-callout">
        <%- md.render(siteData[0].fields.promoBannerCopy) %>
        <a href="<%- siteData[0].fields.promoBannerLink %>"><button class="green"><%- siteData[0].fields.promoBannerCta %></button></a>
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer  {logos: logos} %>
