
<% include ./partials/header  {header: header, pageData: req.pageData, siteData: req.siteData, nav: nav, enroll: enroll} %>
<div class="container-full home-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-lg-8">
          <div class="home-logos">
            <img src="/images/logo_UWMedicine_white.svg">
            <img src="/images/logo_FredHutch_white.svg">
            <img src="/images/logo_SeattleChildrens_white.svg">
            <img src="/images/logo_BrotmanBatyInstitute_white.svg">
          </div>
          <h1><%= homeData[0].fields.headline %></h1>
          <p><%= homeData[0].fields.featuredCopy %></p>
          <a href="<%= homeData[0].fields.heroButtonLink %>"><button class="green"><%= homeData[0].fields.heroButtonCta %></button></a>
        </div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
      <polygon fill="white" points="0,100 0,0 104,100"/>
    </svg>
</div>
<div class="container home-content">
  <div class="row">
    <div class="col-lg-4" id="help-left">
      <%- md.render(homeData[0].fields.section1Main) %>
      <a href="<%= homeData[0].fields.section1Link %>" class="cta"><%= homeData[0].fields.section1Cta %></a>
    </div>
    <div class="col-lg-8" id="help-right">
      <div class="step clearfix">
        <h1 class="number float-left">1</h1>
        <div>
            <%- md.render(homeData[0].fields.section11) %>
        </div>
      </div>

      <div class="step clearfix">
          <h1 class="number float-left">2</h1>
          <div>
              <%- md.render(homeData[0].fields.section12) %>
          </div>
      </div>

      <div class="step clearfix">
          <h1 class="number float-left">3</h1>
          <div>
            <%- md.render(homeData[0].fields.section13) %>
          </div>
      </div>

      <div class="step clearfix">
          <h1 class="number float-left">4</h1>
          <div>
            <%- md.render(homeData[0].fields.section14) %>
          </div>
      </div>

      <a href="<%= homeData[0].fields.section1Link %>" class="cta"><%= homeData[0].fields.section1Cta %></a>
    </div>
  </div>
  <div class="row no-gutters" id="home-map">
    <div class="col-md-12 col-lg-6" id="map-left">
      <%- md.render(homeData[0].fields.section2Main) %>
      <a href="<%= homeData[0].fields.section2Url %>" class="cta"><%= homeData[0].fields.section2Cta %></a>
    </div>
    <div class="col-md-12 col-lg-6" id="map-right" style="background-image: url(<%- homeData[0].fields.section2Image.fields.file.url %>);">
    </div>
  </div>
  <div class="row flu-101">
    <div class="col-lg-6" id="flu101-left">
      <%- md.render(homeData[0].fields.section3Main) %>
      <a href="<%= homeData[0].fields.section3Url %>" class="cta"><%= homeData[0].fields.section3Cta %></a>
    </div>
    <div class="col-lg-6" id="flu101-right">
      <h3><%- homeData[0].fields.section3CallOut %></h3>
      <a href="/faq" class="cta">Visit the FAQ</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="home-callout">
        <%- md.render(siteData[0].fields.promoBannerCopy) %>
        <a href="<%- siteData[0].fields.promoBannerLink %>"><button class="green"><%- siteData[0].fields.promoBannerCta %></button></a>
      </div>
    </div>
  </div>
</div>

<% include ./partials/footer  {logos: logos} %>
