
<% include ./partials/header  {header: header, pageData: req.pageData, siteData: req.siteData, nav: nav, enroll: enroll} %>
<div class="faq secondary container">
  <h2>FAQ</h2>
  <div class="row">
    <div class="col-lg-4 col-xs-12">
    <p><%- md.render(pageData[0].fields.content) %></p>
    </div>


    <div class="faq-questions col-lg-8 col-xs-12">
      <div class="accordion" id="faq-accordion">
        
        
        
        <% faqData.forEach((faq) => { %>
            
            <div class="card">
          <div class="faq-heading" id="<%= faq.fields.id %>">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse<%= faq.fields.question %>" aria-expanded="false" aria-controls="collapse<%= faq.fields.question %>">
                <h5><%= faq.fields.question %></h5>
              </button>
          </div>
          <div id="collapse<%= faq.fields.question %>" class="collapse" aria-labelledby="<%= faq.fields.id %>" data-parent="#faq-accordion">
            <div class="card-body">
              
              <%- md.render(faq.fields.answer) %>
            </div>
          </div>
        </div>
            
        <% }) %>
      </div>
    </div>
  </div>
</div>
<% include ./partials/footer  {logos: logos} %>

