<% include ./partials/header  {header: header} %>
<div class="container">
          <div class="row">
              <div class="col-12">
                <h1><%= title %></h1>
                <p><%= thankyouData.fields.name %></p>
                <p><%= thankyouData.fields.subheader %></p>
                <p><%= thankyouData.fields.dscription %></p>
                <p><%= thankyouData.fields.closing %></p>
                <a href="<%= thankyouData.fields.buttonLink %>"><%= thankyouData.fields.buttonLabel %></a>
                
            </div>
            </div>
            </div>

<% include ./partials/footer  %>
